<!DOCTYPE html>
<html>
  <head>
		<title> A Sample Webpage </title>
        <link rel="stylesheet" href="../styles/typewriter.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,300&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,300&family=Source+Sans+Pro&display=swap" rel="stylesheet">

  </head>
  
  <body>
      <h1>Hello, my name is Lucas.</h1>
      <p class="subtitle">Welcome to my website!</p>
  </body>
</html>